{% extends "main.html" %}
{% block content %}
    <h2>My Account</h2>
    <p>Your email address is {{ email }}.</p>
    
    <h3>Profile Information</h3>
    <p><strong>First Name:</strong> {{ user_data.firstName }}</p>
    <p><strong>Last Name:</strong> {{ user_data.lastName }}</p>
    <p><strong>Phone Number:</strong> {{ user_data.phoneNumber }}</p>
    <p><strong>Address:</strong> {{ user_data.address }}</p>
    <p>hello {{user_data.role}}</p>
    
    <h3>Account Actions</h3>
    <a href="#">Edit Profile</a>
    <a href="#">Change Password</a>
    <a href="{{url_for('logout')}}">Logout</a>
{% endblock %}

