{% extends "main.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

        <div class="account-container">
            <h2>My Account</h2>
            <div class="account-info">
                <p><strong>Email Address:</strong> {{ email }}</p>
                <h3>Profile Information</h3>
                <p><strong>First Name:</strong> {{ user_data.firstName }}</p>
                <p><strong>Last Name:</strong> {{ user_data.lastName }}</p>
                <p><strong>Phone Number:</strong> {{ user_data.phoneNumber }}</p>
                <p><strong>Address:</strong> {{ user_data.address }}</p>
                <p><strong>Role:</strong> {{ user_data.role }}</p>
            </div>
            
            <div class="card-section">
                <h3>Card Information</h3>
                {% if card_info %}
                    <div class="card">
                        <div class="card-number">**** **** **** {{ card_info[0][-4:] }}</div>
                        <div class="card-name">{{ card_info[1] }}</div>
                        <div class="card-expiry">{{ card_info[2] }}</div>
                        <div class="card-cvv">***</div>
                    </div>
                {% else %}
                    <p>No card information available. Please add your card details.</p>
                {% endif %}
                <button class="btn btn-primary" id="fill-card-info" onclick="window.location.href='{{ url_for('add_card_info', user_id=user_data.user_id) }}'">Fill Card Information</button>
            </div>                       
        </div>

        <div class="account-actions">
            <h3>Account Actions</h3>
            <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Edit Profile</a>            
            <a href="{{ url_for('change_password')}}" class="btn btn-primary">Change Password</a>
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
        </div>
        
        <h3>Recent Activities</h3>
        <ul>
            <li><strong>Last Logged In:</strong> {{ user_data.last_login }}</li>
            <li><strong>Last Profile Updated:</strong> {{ user_data.last_profile_update }}</li>
            <li><strong>Last Password Changed:</strong> {{ user_data.last_password_change }}</li>
        </ul>
    </div>
{% endblock %}