{% extends "main.html" %}
{% block content %}
    <main class="login-page">
        <div class="login-form-container">
            <h1>Customer Login</h1>
            <form class="login-form" action="/customer-login" method="POST">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" required placeholder="Enter your email">
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required placeholder="Enter your password">
                    <h6 style="text-align: left;" onclick="togglePassword()">Show Password</h6>
                </div>

                <div class="form-group remember-me">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Remember me</label>
                </div>

                <button type="submit" class="login-button">Login</button>
                
                <div class="form-links">
                    <a href="/forgot-password">Forgot Password?</a>
                    <a href="/register">Create Account</a>
                </div>
                {% if error %}
                <p>{{ error }}</p>
                {% endif %}
            </form>
        </div>
    </main>


    <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>

{% endblock %}
