{% extends "main.html" %}
{% block content %}
    <main>
        <section class="gallery">
            <h2>Event Highlights</h2>
            <div class="image-grid">
                <img src="/static/images/event1.png" alt="Event 1">
                <img src="/static/images/event2.png" alt="Event 2">
                <img src="/static/images/event3.png" alt="Event 3">
                <img src="/static/images/event4.png" alt="Event 4">
            </div>
        </section>

        <section class="booking">
            <h2>Book Your Spot</h2>
            <form id="booking-form" method="post" action="/events">
                <label type="hidden" value="booking-form" name="form_id" id="form_id"></label>
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" placeholder="Name" required>

                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="event">Select Event:</label>
                <select id="event" name="event" required>
                    <option value="">--Please choose an event--</option>
                    {% for event in events %}
                        <option value="event{{ event[0] }}">{{ event[1] }}</option> <!-- Assuming event[0] is ID and event[1] is name -->
                    {% endfor %}
                </select>

                <button type="submit" class="book-button">Go to Booking Page</button>
            </form>
        </section>

        <section class="manage-booking">
            <h2>Manage Your Booking</h2>
            <p>If you have booked an event and wish to cancel, or if an event is full, you can join the waiting queue below.</p>
            <form id="cancel-booking-form">
                <label for="cancel-event">Select Event to Cancel:</label>
                <select id="cancel-event" name="cancel-event">
                    <option value="">--Please choose an event--</option>
                    {% for event in events %}
                        <option value="event{{ event[0] }}">{{ event[1] }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="book-button">Cancel Booking</button>

{% endblock %}